earthengine-api==0.1.268
folium==0.12.1
geeadd==0.5.5
geemap==0.8.16
google-api-core==1.30.0
google-api-python-client==1.12.8
google-auth==1.30.2
google-auth-httplib2==0.1.0
ipyevents==0.8.2
ipyfilechooser==0.4.3
ipykernel==5.3.4
ipyleaflet==0.13.3
ipympl==0.7.0
ipywidgets==7.6.3
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyter-dashboards==0.7.0
matplotlib==3.4.2
notebook==6.1.1
numpy==1.20.2
voila==0.1.21
