earthengine-api
geemap==0.8.16
numpy
scipy
numpy-groupies
folium
ipywidgets==7.6.5
ipyleaflet
ipympl==0.7.0
voila==0.3.5
jupyter-client==7.3.0
jupyter-core==4.9.2
jupyter-panel-proxy==0.1.0
jupyter-resource-usage==0.6.1
jupyter-server==1.17.0
jupyter-server-proxy==3.2.1
jupyter-telemetry==0.1.0
matplotlib==3.4.2
