argon2-cffi==20.1.0
async-generator==1.10
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bleach==3.1.5
bqplot==0.12.29
branca==0.4.2
cachetools==4.2.2
certifi==2020.6.20
cffi==1.14.1
cftime==1.4.1
chardet==3.0.4
chromedriver==2.24.1
chromedriver-binary==92.0.4515.107.0
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.3
colour==0.1.5
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docopt==0.6.2
earthengine-api==0.1.279
entrypoints==0.3
ffmpeg-python==0.2.0
Fiona
folium==0.12.1
future==0.18.2
geeadd==0.5.5
-e git+https://github.com/tracek/gee_asset_manager@80ad23c669ebeb13bc836f9a6a2d088ec3b8a123#egg=geebam
geemap==0.8.16
geeup==0.5.1
geocoder==1.38.1
geopandas
google-api-core==1.30.0
google-api-python-client==1.12.8
google-auth==1.30.2
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
googledrivedownloader==0.4
httplib2==0.19.1
httplib2shim==0.0.3
idna==2.10
iniconfig==1.1.1
ipyevents==0.8.2
ipyfilechooser==0.4.3
ipykernel==5.3.4
ipyleaflet==0.13.3
ipympl==0.7.0
ipynb-py-convert==0.4.6
ipython==7.17.0
ipython-genutils==0.2.0
ipytree==0.2.1
ipywidgets==7.6.3
jedi==0.17.2
Jinja2==2.11.2
Js2Py==0.71
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyter-dashboards==0.7.0
jupyter-http-over-ws==0.0.8
jupyter-server==0.1.1
jupyterlab==2.2.4
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
kaggle==1.5.12
kiwisolver==1.3.1
logzero==1.7.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.2
mistune==0.8.4
mss==6.1.0
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.7
netCDF4==1.5.6
networkx==2.5
notebook==6.1.1
numpy==1.20.2
oauth2client==4.1.3
packaging==20.4
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.1
pathlib==1.0.1
pickleshare==0.7.5
Pillow==8.2.0
pipwin==0.5.1
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyCRS==1.0.2
Pygments==2.6.1
pyjsparser==2.7.1
pyodbc==4.0.30
pyparsing==2.4.7
PyPrind==2.11.3
pyproj
pyrsistent==0.16.0
pyshp==2.1.3
pySmartDL==1.3.4
pytest==6.2.4
python-box==5.3.0
python-dateutil==2.8.1
python-slugify==5.0.2
pytz==2021.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==5.1.0
QtPy==1.9.0
ratelim==0.1.6
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.7.2
selenium==3.141.0
Send2Trash==1.5.0
Shapely
six==1.15.0
soupsieve==2.2.1
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
toml==0.10.2
tornado==6.0.4
tqdm==4.62.0
traitlets==4.3.3
traittypes==0.2.1
tzdata==2021.1
tzlocal==3.0
uritemplate==3.0.1
urllib3==1.25.10
voila==0.1.21
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
wget==3.2
whitebox==1.5.0
whiteboxgui==0.2.0
widgetsnbextension==3.5.1
xarray==0.17.0
